<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:security= "http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    
    <bean name="loginServiceImpl" class="com.mycompany.kwn_edu.services.LoginServiceImpl"/>
    
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="loginServiceImpl">
            <security:password-encoder hash="bcrypt" />
        </security:authentication-provider>
    </security:authentication-manager>
    
    
    
    <security:http auto-config="true" use-expressions="true" >
        <security:intercept-url pattern="/" access="permitAll" />
        <security:intercept-url pattern="/home" access="permitAll" />
        <security:intercept-url pattern="/admin" access="hasRole('ADMIN')" />
        <security:intercept-url pattern="/user" access="hasRole('ADMIN') or hasRole('USER')" />
        
        <security:form-login 
            login-page="/login" 
            login-processing-url="/j_spring_security_check"
            default-target-url="/home"
            authentication-failure-url="/login?error" 
            username-parameter="email"
            password-parameter="password" />
             
        <security:csrf/>
        
    </security:http>

    
</beans>
